@charset "UTF-8";
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

html,
body {
  height: 100%;
  line-height: 1;
  background-color: #f0e6e6;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --title-color: #141516;
  --trigger-color: #3349a0;
  --active-color: #f6fbfc;
  --color-icon: #323232;
  --color-header: #91a1e0;
  --color--bg-trigger: #d6cece;
}

html {
  /* font-size: 10px; */
  font-size: 65%;
  scroll-behavior: smooth;
}

body {
  padding: 3rem 0.5rem 2rem 0.5rem;
  min-width: 32rem;
  overflow-x: hidden;
}

.container {
  padding: 0 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", Verdana, sans-serif;
  color: #252b42;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 600;
}

.main__container {
  color: var(--trigger-color);
}

.main__container:hover {
  color: var(--title-color);
  transition: ease all 0.7s;
}

.header {
  border: 2px solid #3349a0;
  border-radius: 1rem;
  background-color: var(--color-header);
  opacity: 0.8;
  min-height: 4rem;
}

.header__title {
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding-top: 0.5rem;
  font-weight: 600;
  color: var(--title-color);
}

.accordion {
  padding: 1rem;
  width: 30rem;
}

.accordion__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 0.3rem solid var(--color-header);
}

.accordion__item:last-child {
  border-bottom: 0.3rem solid var(--color-header);
}

.accordion__input {
  width: 0;
  height: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  opacity: 0;
}

.accordion__item-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
  /* padding: 1.3rem 0rem 0rem 0rem; */
  /* margin-bottom: -1rem; */
  cursor: pointer;
  position: relative;
  opacity: 0.8;
  border-radius: 1rem;
}

.acc__icon {
  background-image: url(../image/plus.svg);
  display: block;
  height: 1rem;
  width: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  visibility: visible;
  transform: rotate(90deg);
  transition: all 0.8s;
  margin-top: -1.5rem;
}

.accordion__item:hover .acc__icon {
  background-image: url(../image/plus-black.svg);
  transform: rotate(45deg);
  transition: all 0.3s;
}

.accordion__content {
  border-top: none;
}

img {
  margin: auto;
}

.accord__img {
  max-height: 0;
  transition: all 0.8s;
  /* margin-top: 2rem; */
}

.accordion__input:checked ~ label > .img__content > span {
  background-image: url(../image/plus-black.svg);
  transform: rotate(45deg);
  transition: all 0.3s;
  visibility: visible;
}

.accordion__input:checked ~ label > .img__content > img {
  height: 100%;
  max-height: 15rem;
}

.accordion__input:checked ~ .accordion__items > h2 {
  color: var(--title-color);
}
.accordion__input:checked ~ .accordion__items > .img__content {
  height: 100%;
}

.accordion__input:checked ~ .accordion__content {
  height: 100%;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.8;
}

@media (min-width: 720px) {
  body {
    padding: 2rem;
    min-width: 82rem;
  }
  .container {
    padding: 1.5 3rem;
  }
  .header {
    min-height: 6rem;
  }
  .header__title {
    padding: 1rem;
    font-size: 2.8rem;
    line-height: 3.2rem;
    font-weight: 700;
  }
  .accordion {
    width: 60rem;
  }
  .accordion__item {
    max-width: 60rem;
  }

  .accordion__items {
    padding: 0.5rem 0rem;
  }

  .accordion__item-trigger {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 600;
    /* padding: 1rem 0rem 0rem 0rem;
    margin-bottom: -1.5rem; */
  }

  .acc__icon {
    visibility: visible;
    margin-top: -1.8rem;
  }

  .accordion__input:checked ~ label > .img__content > img {
    height: 100%;
    max-height: 24rem;
  }

  .accordion__input:checked ~ .accord__img {
    max-height: 60rem;
  }
}

/* style before  */
.img__content {
  display: flex;
  justify-content: space-between;
}

/* style before */

@media (min-width: 1020px) {
  .acc__icon {
    visibility: hidden;
  }
  .accordion__items {
    padding: 1rem 0rem;
  }

  .accordion__item-trigger {
    font-size: 2.3rem;
    line-height: 3.3rem;
    font-weight: 600;
    /* padding: 1rem 0rem 0rem 0rem;
    margin-bottom: -1.5rem; */
  }

  .acc__icon {
    margin-top: -2rem;
  }
}

@media (min-width: 1920px) {
  body {
    padding: 3rem;
    min-width: 192rem;
  }
  .container {
    padding: 2rem 6rem;
  }
  .header {
    min-height: 8rem;
  }
  .header__title {
    padding: 1rem;
    font-size: 3.8rem;
    line-height: 3.8rem;
    font-weight: 700;
  }
  .accordion {
    width: 90rem;
  }
  .accordion__item {
    max-width: 90rem;
  }

  .accordion__items {
    padding: 1.5rem 0rem;
  }

  .acc__icon {
    visibility: hidden;
  }

  .accordion__item-trigger {
    font-size: 2.6rem;
    line-height: 3.6rem;
    font-weight: 600;
    padding: 1rem 0rem 0rem 0rem;
    margin-bottom: -2rem;
  }

  .accordion__input:checked ~ label > .img__content > img {
    height: 100%;
    max-height: 30rem;
  }

  .accordion__input:checked ~ .accord__img {
    max-height: 85rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .accordion__item:hover .accord__img {
    max-height: 16rem;
  }
  .accordion__item:hover .acc__icon {
    background-image: url(../image/plus-black.svg);
    transform: rotate(45deg);
    transition: all 0.3s;
  }

  .main__container:hover {
    color: var(--title-color);
    transition: ease all 0.7s;
  }

  .accordion:hover .acc__icon {
    visibility: visible;
  }

  .accordion__item-trigger {
    cursor: pointer;
  }

  .img__content {
    cursor: pointer;
  }

  .accord__img {
    cursor: pointer;
  }

  .acc__icon {
    cursor: pointer;
  }

  .footer__content {
    cursor: pointer;
  }
}
